<div class="auth-container profile-edit">
  <h2>Update Profile</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <small>(leave blank if you don't want to change it)</small>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <small><%= @minimum_password_length %> characters minimum</small>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field current-password">
      <%= f.label :current_password %> <small>(we need your current password to confirm your changes)</small>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update Profile", class: "button primary" %>
    </div>
  <% end %>

  <div class="account-actions">
    <h3>Cancel my account</h3>
    <p>Unhappy? You can cancel your account below.</p>
    <%= button_to "Cancel my account", registration_path(resource_name), 
        data: { confirm: "Are you sure? This will delete your account and all your cards.", turbo_confirm: "Are you sure? This will delete your account and all your cards." }, 
        method: :delete, 
        class: "button delete" %>
  </div>
</div> 