<div class="container">
  <div class="collection-header">
    <h1>Trading Card Collection</h1>
    <%= link_to "Add New Card", new_card_path, class: "button primary" if user_signed_in? %>
  </div>

  <div class="filters-section">
    <%= form_tag cards_path, method: :get, class: "filters-form" do %>
      <div class="filters-row">
        <div class="filter-group">
          <%= select_tag :user_id,
              options_from_collection_for_select(@users, :id, :first_name, params[:user_id]),
              prompt: "All Collectors",
              class: "filter-select",
              onchange: "this.form.submit()" %>
        </div>

        <div class="search-group">
          <%= text_field_tag :search, 
              params[:search], 
              placeholder: "Search cards...",
              class: "search-input" %>
          <%= submit_tag "Search", class: "button primary" %>
        </div>

        <% if params[:user_id].present? || params[:search].present? %>
          <%= link_to "Clear Filters", cards_path, class: "button secondary" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="cards-grid">
    <% if @cards.any? %>
      <%= render @cards %>
    <% else %>
      <div class="no-results">
        <p>No cards found matching your criteria.</p>
      </div>
    <% end %>
  </div>
</div> 